<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memes</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a635b60f06.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="left">Memehub</div>
            <div class="mid">Getting Bored, Explore Memes!</div>
            <div class="right">CIVO</div>

        </header>
        <input type="checkbox" id="check">
        <nav class="navbar">
            <div class="search_box">
                <input type="search" placeholder="Search here">
                <span class="fa fa-search"></span>
            </div>
            <ol>
                <li><a href="#">Trending Memes</a></li>
                <li><a href="#">Recent Memes</a></li>
                <li><a href="#">Memes Blog</a></li>
                <li><a href="#">Login here</a></li>
            </ol>
            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>
            </label>
           

        </nav>
        

        <section></section>
        <main>Main</main>
        <div id="sidebar">
            <div class="text">Categories</div>
            <ul>
               
            <li><a href="#">Coding Memes</a>
                <ul>
                    <li><a href="#">Item-1</a></li>
                    <li><a href="#">item-2</a></li>
                    
                </ul>
            </li>
            <li><a href="#">Covid Memes</a>
                <ul>
                    <li><a href="#">Item-1</a></li>
                    <li><a href="#">item-2</a></li>
                  
                </ul>
            </li>
            <li><a href="#">Series Memes</a>
                <ul>
                    <li><a href="#">Item-1</a></li>
                    <li><a href="#">item-2</a></li>
                  
                </ul>
               
            </li>
            <li><a href="#">Simpsons Memes</a>
                <ul>
                    <li><a href="#">Item-1</a></li>
                    <li><a href="#">item-2</a></li>
                  
                </ul>
            

               
            </li>

               
            </ul>
        </div>

        <div id="content1">Content1</div>
        <div id="content2">Content2</div>
        <div id="content3">Content3</div>
        <footer>Footer</footer>
    </div>

</body>

</html>