<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link href="static/css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v2_2">
      <div class="v2_3"></div>
      <span class="v2_4">Trending</span><span class="v2_5">Meta</span
      ><span class="v2_6">Meta</span><span class="v2_7">Meta</span
      ><span class="v2_8">Meta</span><span class="v2_9">Meta</span
      ><span class="v2_10">Meta</span><span class="v2_11">234k</span
      ><span class="v2_12">234k</span><span class="v2_13">234k</span
      ><span class="v2_14">234k</span><span class="v2_15">234k</span
      ><span class="v2_16">234k</span>
      <div class="v2_17"></div>
      <span class="v2_18">Search memes by tags</span>
      <div class="v2_19"></div>
      <span class="v2_20">Search</span>
      <div class="v2_21"></div>
      <div class="v2_22"></div>
      <div class="v2_23"></div>
      <div class="v2_24"></div>
      <div class="v2_25"></div>
      <div class="v2_26"></div>
      <div class="v2_27"></div>
      <div class="v2_28"></div>
      <div class="v2_29"></div>
      <span class="v2_30">u/hansolo</span><span class="v2_31">></span
      ><span class="v2_32">></span>
      <div class="v2_33"></div>
      <div class="v2_34"></div>
      <div class="v2_35"></div>
      <div class="v2_36"></div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="name"></div>
      <div class="v2_42">
        <span class="v2_43">CIVO</span><span class="v2_44">CIVO</span>
      </div>
    </div>
  </body>
</html>
