:root{
    --main-radius:5px;
    --main-padding:5px;
}
*{
    font-family: 'Poppins', sans-serif;
}


.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr  1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-family:sans-serif;
    font-weight:800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;

}
header{
    background: #b285ee;
    grid-area: header;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    background-color: rgb(235, 245, 200);
}

.left{
    display: inline-block;
    position: absolute;
    left: 34px;
    top: auto;
    font-weight: 800;
    font-size:30px;
    font-family: sans-serif;
    color:black;

}
.mid{
    display: block;
    width: 50%;
    margin: 12px auto;
    font-size: 30px;
    text-transform:initial;
    font-family: ui-rounded;

}
.right{
    position: absolute;
    right: 34px;
    top: 10px;
    display: inline-block;
    font-weight: 800;
    font-size: 30px;
    color:#0d4691;
    font-family: sans-serif;

}
nav{
    background: #0f2153;
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    display: flex;
    
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;  
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin: 0 2px;

}
nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;

}
nav ol li:hover a{
    background: #fff;
    color: #0a5071;

}
nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    Line-height: 35px;
    justify-content: center;
    border-radius: 4px;
}
nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}
nav .search_box span{
    color: #0a5071;
    font-size: 20px;
    background: #fff;
    height: 55%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
nav .search_box span:hover{
    color: #fff;
}
nav .search_box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #ff003c;
    position: absolute;
    top: 0;
    right: 0;
     z-index: -1;
     transition: 0.3s;
}
nav .search_box span:hover::after{
     width: 100%;
}
nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;

}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}
@media screen and (max-width: 1250px){
    nav{
        display: block;
        padding: 0;

    }
    nav .search_box{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;


    }
    nav .search_box input{
        width: 90%;
    }
    nav ol{
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        transition: 0.3s;

        
    }
    nav ol li{
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }
    nav ol li a{
        color: #000;
        font-size: 28px;
        padding:25px;
        display: block;


    }
    nav ol li:nth-child(1){
        transform: translateX(-150px);
    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
    }
    nav ol li:nth-child(3){
        transform: translateX(-250px);
    }
    nav ol li:nth-child(4){
        transform: translateX(-300px);
    }
    nav ol li:nth-child(5){
        transform: translateX(-350px);
    }

    nav .bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~ nav .bar #times{
        display: block;
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }
    #check:checked ~ nav ol{
        visibility: visible;
        height: 465px;
    }
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3),
    #check:checked ~ nav ol li:nth-child(4),
    #check:checked ~ nav ol li:nth-child(5){
        transform:translateX(0);
        opacity: 1;
    }

    

    
    
}
section{
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: #fff;
    size: 20px;;
}

main{
    background: #d987f1;
    grid-area: main;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#sidebar{
    background: #f1f1c9;
    grid-area: sidebar;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
   
    width: 371px;
    height: 100%;
    left: 0;
}
#sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;

}
 #sidebar .text ul{
    background: #f1f1c9;
    height: 100%;
    width: 100%;
    list-style: none;
}
 #sidebar text ul li{
    line-height: 60px;
    border-bottom: 1px solid black;
}



#content1{
    background: #80e3f0;
    grid-area: content1;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#content2{
    background: #64ffda;
    grid-area: content2;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#content3{
    background: #73ffba;
    grid-area: content3;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
footer{
    background: rgba(145, 12, 223, 0.6);
    grid-area: footer;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

@media  screen and (max-width: 550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
        "header"
        "nav"
        
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
    
}